<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>View Detail Jabatan</title>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h1 th:text="'DETAIL ' + ${jabatan.nama}"></h1>
		<h3 th:text="'Nama ' + ${jabatan.nama}"></h3>
		<h3 th:text="'Deskripsi ' + ${jabatan.deskripsi}"></h3>
		<h3 th:text="'Gaji Pokok ' + ${jabatan.gaji_pokok}"></h3>
		<td><a th:href="@{|/jabatan/update/${jabatan.id}|}">Update Jabatan</a></td>
		<td><a th:href="@{|/jabatan/delete/${jabatan.id}|}">Delete Jabatan</a></td>
	</body>

</html>